<div class="container">
    <div class="col xs 12">
        <br>

        <input type="text" [(ngModel)]="name">
        <p *ngIf="serverCreated; else noServer">New Server was created with name: {{ name }}</p>
        <ng-template #noServer>
            <p >No server wasa created....</p>
        </ng-template>

        <button (click)="isServerCreated()">Add Server</button>

        <p [ngStyle]="{backgroundColor: setColor()}"
        [ngClass]="{online: serverStatus === 'Online'}"
        >Server with {{ serverId }} is {{ checkServerStatus() }}</p>
    </div>
</div>

